<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzw.serverwarehouse.mapper.CWarehouseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xzw.serverwarehouse.entity.CWarehouse">
        <id column="ID" property="id" />
        <result column="DepartmentID" property="DepartmentID" />
        <result column="WareHouseName" property="WareHouseName" />
        <result column="WareHouseAddr" property="WareHouseAddr" />
        <result column="WareHousePhone" property="WareHousePhone" />
        <result column="WareHouseHead" property="WareHouseHead" />
        <result column="InstallDate" property="InstallDate" />
        <result column="OperatorID" property="OperatorID" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, DepartmentID, WareHouseName, WareHouseAddr, WareHousePhone, WareHouseHead, InstallDate, OperatorID
    </sql>

</mapper>
